<h1>写真の詳細</h1>

<div class="nav justify-content-end">
  <%= link_to "一覧", feeds_path, class: "nav-link" %>
</div>

<table class="table">
  <tr>
    <th>写真</th>
    <th>コメント</th>
  </tr>
  <tr>
    <td><%= @feed.image %></td>
    <td><%= @feed.description %></td>
  </tr>
</table>

<%= link_to "編集", edit_feed_path, class: "btn btn-primary" %>